<aside class="navbar navbar-expand-lg bg-body-tertiary vh-100 position-fixed py-4">
    <div class="container-fluid flex-column justify-content-start align-items-start h-100 ms-4">
        <a class="navbar-brand" href="#">
            <img src="../assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
        </a>
        <ul class="navbar-nav flex-column mt-4">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                        analytics
                        </span>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                        forum
                        </span>Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active border-start border-success border-5 text-success ps-4" aria-current="page" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                        assignment
                        </span>Assignment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                        video_library
                        </span>Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../pages/admin.html">
                    <span class="material-symbols-outlined align-bottom me-3">
                        supervisor_account
                        </span>Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                        settings
                        </span>Settings</a>
            </li>
        </ul>
        <div class="d-flex mt-auto">
            <div class="flex-shrink-0">
                <img src="../assets/images/andychen.jpeg" class="rounded-circle object-fit-cover" width="48" height="48" alt="andychen">
            </div>
            <div class="flex-grow-1 ms-3">
                <p class="fw-bold mb-1">Andy Chen</p>
                <a href="mailto:andy0401@mail.com">andy0401@mail.com</a>
            </div>
        </div>
    </div>
</aside>